

body{
    background-color:#fffaf0;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 17px;
    line-height: 1.5em;
}

.container{
    width:75%;
    margin:auto;
    padding: 4px;   
}

.container h2{
    text-decoration: underline;
}

#main-header{
    margin:0;
    background-color: darkslategrey;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-decoration: underline;
    font-size: 18px; 
    padding: 1px;
}

#navbar{
    background-color: #E2DED6;
}
#navbar ul{
    padding: 0;
    list-style: none;
    text-align: center;
}
#navbar li{
    display: inline;  
}
a{
    text-decoration: none;
    color: black;
    padding-right: 20px;
}
a:hover{
    color:red;
}

/*Title: Lab 7 Web security
             Author: Alena Denisova
             Date: 2020
             Availablity: https://moodle.city.ac.uk/course/view.php?id=32190 */

form, .content {
  width: 30%;
  margin: 0px auto;
  padding: 20px;
  border: 1px solid #A9A9A9;
  background: white;
  border-radius: 0px 0px 10px 10px;
}
.input-group {
  margin: 10px 0px 10px 0px;
}
.input-group label {
  display: block;
  text-align: left;
  margin: 3px;
}
.input-group input {
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid gray;
}
.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: #00a2ed;
  border: none;
  border-radius: 5px;
}
.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #fd0e35; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}
.success {
  color: #3c763d; 
  background: #dff0d8; 
  border: 1px solid #3c763d;
  margin-bottom: 20px;
}

/* Title: Media Queries
   Author: W3Schools.com
   Date: 2020
   Availablilty: https://www.w3schools.com/css/css_rwd_mediaqueries.asp */
[class*="col-"] {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}

#pagebanner{
    text-align: center
}

#main-footer{
    background: #717171;
    color: #FFF;
    text-align: center;
    padding: 10px;
    
}